/* Navbar */
.nav {
    // box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.topbar {
    background-color: var(--nav-bg) !important;
    
    .inner__topbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
    }

    .topbar__item {
        font-weight: bold;
    }

    .divide {
        padding: 0 0.5rem;
    }

    .topbar__icon {
        padding-left: 0.5rem;
    }

    .btn {
        text-decoration: none;
        font-weight: bold;
        padding: 0.5rem 1.5rem;
        border-radius: 100px;
    }

    .btnLogin {
        background-color: transparent;
        color: var(--nav-btn-login-color);
        margin-right: 1rem;
    }

    .btnSignup {
        background-color: var(--nav-btn-signup-bg);
        color: var(--nav-btn-signup-color);
    }
}

.navBar {
    background-color: var(--navbar-bg);
    color: var(--navbar-color);

    .inner__navbar {
        display: flex;
        align-items: center;
        height: 100px;
    }

    .logo {
        color: var(--navbar-logo-color);
        font-size: 1.75rem;
        font-weight: bold;
        width: 20%;
    }

    .midBar {
        width: 60%;
    }

    .input {
        padding: 0.5rem 2rem;
        width: 100%;
        border-radius: 5px;
        border: none
    }

    .cart {
        width: 20%;
        text-align: right;
    }
}
