@import 'normalize.css';

// Import font
// @import url();

// Color
:root {
    --black: #000;
    --black-2: #1f1c1b;
    --black-3: #3a1f18;
    --black-blue: #202127;
    --black-blue-light: #2e2e32;
    --black-blue-light-2: #2b2f36;
    --black-blue-light-3: #282a36;
    --black-blue-light-4: #3C4147;
    --black-blue-light-5: #2D3037;

    --black-blue-light: #32302e;

    --black-orange-red: #3f0c00;

    --white: #ffffff;
    --white-light: #F5F7FA;
    --white-light-2: #F5F7F9;
    --white-dark: #E0E0E0;
    --white-dark-2: #B9B9B9;

    --dark: #6E6E6E;

    --brown: #5a373f;

    --blue-dark-3: #0b1517;
    --blue-dark-2: #032343;
    --blue-dark: #1a4979;
    --blue-dark-4: #207bf3;
    // --blue-dark-4: #5078F2; 

    --blue: #20c0f3;
    --blue-light: #9ae7ff;
    --blue-light-2: #D7E6FB;
    --blue-white: #d1f4ff;
    --blue-white-light: #EDF2FF;

    --purple: #966fd6;
    --purple-2: #bd34fe;
    --purple-3: #51146d;

    --green-dark: #0A4B2D;
    --green-dark-2: #157347;
    --green-2: #48bf69;
    --green: #50f07d;
    --green-light: #e6ffed;

    --red-black: #3a1818;
    --red-dark: #9D0000;
    --red: #f32020;
    --red-2: #D8032B;
    --red-light: #FF7168;
    --red-light-more: #ffe9ed;
    --red-light-dark: #eee5e5;

    --pink-red: #e23b3b;

    --orange-light: #f0b67f;
    --orange: #f38120;
    --orange-dark: #e57818;

    --orange-red: #eb2b00;
    --orange-red-dark: #7A1600;
    --orange-red-light: #FFECE8;

    --yellow: #f3eb20;

    --pink: #ff3670;

    --gray: #d9d9d9;
    --gray-dark: #a4a4a4;
    --gray-dark-2: #696969;
    --gray-dark-3: #bdbdbd;
    --gray-light: #f0f0f0;

    --primary: var(--orange-red);
    --primary-dark: var(--orange-red-dark);
    --primary-light: var(--orange-red-light);

    --secondary: var(--orange-dark);
    --primary-dark: var(--orange-red-dark);
    --primary-light: var(--orange-red-light);

    --odd-bg: var(--white);
    --odd-color: var(--black);
    --even-bg: var(--primary-light);
    --even-color: var(--black);
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(135deg, var(--primary-dark), var(--primary));

    --breadcrumbs-color: var(--black);
    --breadcrumbs-color-active: var(--black);

    --nav-bg: var(--white);
    --nav-color: var(--black);
    --nav-resume-color: var(--white);
    --nav-btn-login-color: var(--black);
    --nav-btn-signup-bg: var(--primary);
    --nav-btn-signup-color: var(--white);

    --navbar-bg: var(--primary-light);
    --navbar-color: var(--black);
    --navbar-item-hover-color: var(--primary);
    --navbar-item-2-hover-color: var(--black);
    --navbar-logo-color: var(--primary);
    --navbar-btnCart-color: var(--primary);
    --navbar-user-name: var(--primary);
    --navbar-user-text: var(--black);
    --navbar-darkmode-bg: var(--primary-light);
    --navbar-darkmode-color: var(--black);
    --navbar-darkmode-active-bg: var(--primary);
    --navbar-darkmode-active-color: var(--white);

    --footer-primary-color: var(--primary);

    --border-color: var(--white-dark);

    --home-bg: var(--primary-light);
    --home-color: var(--black);
    --home-btn-bg: var(--primary);
    --home-btn-color: var(--white);
    --home-options-bg: var(--primary);
    --home-option-bg: var(--white);
    --home-option-color: var(--white);
    --home-option-bg-active: var(--white);
    --home-option-color-active: var(--primary);
    
    --home-block-star: var(--orange-dark);
    --home-block-arrivals-title-bg: var(--white);
    --home-block-arrivals-title-color: var(--primary);
    --home-block-arrivals-title-color-2: var(--orange);
    --home-block-item-bg: var(--white);
    --home-block-item-color: var(--black);
    --home-block-item-old-price-color: var(--gray-dark);
    --home-block-item-price-color: var(--red-2);
    --home-block-item-btn-bg: var(--primary);
    --home-block-item-btn-bg-2: var(--primary-dark);
    --home-block-item-btn-color: var(--white);

    --products-bg: var(--white);
    --products-color: var(--black);
    --products-block-border: var(--gray-light);
    --products-block-border-active: var(--primary);
    --products-search-color: var(--gray-dark-2);
    --products-search-text: var(--black);
    --products-product-name: var(--primary);
    --products-product-old-price-color: var(--gray-dark);
    --products-product-price-color: var(--black);
    --products-product-btn-bg: var(--primary);
    --products-preview-size-bg: var(--gray-light);
    --products-preview-size-color: var(--black);
    --products-preview-size-border: var(--gray-light);
    --products-preview-size-border-active: var(--primary);

    --product-bg: var(--white);
    --product-color: var(--black);
    --product-border: var(--gray-light);
    --product-bonus-bg: var(--primary);
    --product-bonus-color: var(--white);
    --product-quantity-bg: var(--white-light);
    --product-quantity-color: var(--gray-dark);
    --product-quantity-num-color: var(--black);
    --product-btn-add: -webkit-linear-gradient(315deg, var(--black-3) 0%, var(--primary) 74%);
    --product-btn-add-border: var(--primary);
    --product-btn-add-hover-bg: var(--primary);
    --product-btn-add-hover-color: var(--white);
    
    --product-reviews-bg: var(--white);
    --product-reviews-color: var(--black);
    --product-reviews-time: var(--gray-dark);
    --product-reviews-star: var(--orange-dark);

    --shop-header-bg: var(--white);
    --shop-header-color: var(--black);
    --shop-header-brand-bg: var(--primary-light);
    --shop-header-time: var(--gray-dark);
    --shop-header-btn-bg: var(--primary);
    --shop-header-btn-bg2: var(--secondary);
    --shop-header-btn-color: var(--white);
    --shop-text-nor: var(--black);
    --shop-text-primary: var(--primary);
    --shop-optionsBar-color: var(--black);
    --shop-optionsBar-color-active: var(--primary);

    --shop-body-bg: var(--primary-light);
    --shop-body-color: var(--black);
    --shop-body-vouchers-bg: var(--white);
    --shop-body-vouchers-block-bg: var(--primary-light);
    --shop-body-vouchers-block-border: var(--primary);
    --shop-body-vouchers-block-color: var(--primary);
    --shop-body-vouchers-block-btn-bg: var(--primary);
    --shop-body-vouchers-block-btn-bg2: var(--secondary);
    --shop-body-vouchers-block-btn-color: var(--white);
}

[data-theme='dark'] {
    // --primary: var(--red-2);
    // --primary-dark: var(--red-black);
    // --primary-light: var(--red-light-more);
    // --odd-bg: var(--black-2);
    // --odd-color: var(--white);
    // --even-bg: var(--black-blue-light-2);
    // --even-color: var(--white);
    // --vp-home-hero-name-background: -webkit-linear-gradient(120deg, var(--pink) 30%, var(--purple-2));

    // --nav-bg: var(--blue-dark-3);
    // --nav-color: var(--white);
    // --nav-btn-login-color: var(--white);
    // --nav-btn-signup-bg: var(--pink);
    // --nav-btn-signup-color: var(--white);

    // --border-color: var(--white);

    --primary: var(--orange-red);
    --primary-dark: var(--orange-red-dark);
    --primary-light: var(--orange-red-light);
    --odd-bg: var(--black-orange-red);
    --odd-color: var(--white);
    --even-bg: var(--primary-dark);
    --even-color: var(--white);
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(135deg, var(--primary-dark), var(--primary));

    --breadcrumbs-color: var(--black);
    --breadcrumbs-color-active: var(--black);

    --nav-bg: var(--black-orange-red);
    --nav-color: var(--white);
    --nav-resume-color: var(--white);
    --nav-btn-login-color: var(--white);
    --nav-btn-signup-bg: var(--primary);
    --nav-btn-signup-color: var(--white);

    --navbar-bg: var(--primary);
    --navbar-color: var(--white);
    --navbar-item-hover-color: var(--primary);
    --navbar-item-2-hover-color: var(--white);
    --navbar-logo-color: var(--white);
    --navbar-btnCart-color: var(--white);
    --navbar-user-name: var(--primary);
    --navbar-user-text: var(--black);
    --navbar-darkmode-bg: var(--primary-light);
    --navbar-darkmode-color: var(--black);
    --navbar-darkmode-active-bg: var(--primary);
    --navbar-darkmode-active-color: var(--white);

    --footer-primary-color: var(--primary);

    --border-color: var(--white-dark);

    --home-bg: var(--primary-light);
    --home-color: var(--black);
    --home-btn-bg: var(--primary);
    --home-btn-color: var(--white);
    --home-options-bg: var(--primary);
    --home-option-bg: var(--white);
    --home-option-color: var(--white);
    --home-option-bg-active: var(--white);
    --home-option-color-active: var(--primary);
    
    --home-block-star: var(--orange-dark);
    --home-block-arrivals-title-bg: var(--white);
    --home-block-arrivals-title-color: var(--primary);
    --home-block-arrivals-title-color-2: var(--orange);
    --home-block-item-bg: var(--white);
    --home-block-item-color: var(--black);
    --home-block-item-old-price-color: var(--gray-dark);
    --home-block-item-price-color: var(--red-2);
    --home-block-item-btn-bg: var(--primary);
    --home-block-item-btn-bg-2: var(--primary-dark);
    --home-block-item-btn-color: var(--white);

    --products-bg: var(--white);
    --products-color: var(--black);
    --products-block-border: var(--gray-light);
    --products-block-border-active: var(--primary);
    --products-search-color: var(--gray-dark-2);
    --products-search-text: var(--black);
    --products-product-name: var(--primary);
    --products-product-old-price-color: var(--gray-dark);
    --products-product-price-color: var(--black);
    --products-product-btn-bg: var(--primary);
    --products-preview-size-bg: var(--gray-light);
    --products-preview-size-color: var(--black);
    --products-preview-size-border: var(--gray-light);
    --products-preview-size-border-active: var(--primary);

    --product-bg: var(--white);
    --product-color: var(--black);
    --product-border: var(--gray-light);
    --product-bonus-bg: var(--primary);
    --product-bonus-color: var(--white);
    --product-quantity-bg: var(--white-light);
    --product-quantity-color: var(--gray-dark);
    --product-quantity-num-color: var(--black);
    --product-btn-add: -webkit-linear-gradient(315deg, var(--black-3) 0%, var(--primary) 74%);
    --product-btn-add-border: var(--primary);
    --product-btn-add-hover-bg: var(--primary);
    --product-btn-add-hover-color: var(--white);
    
    --product-reviews-bg: var(--white);
    --product-reviews-color: var(--black);
    --product-reviews-time: var(--gray-dark);
    --product-reviews-star: var(--orange-dark);

    --shop-header-bg: var(--white);
    --shop-header-color: var(--black);
    --shop-header-brand-bg: var(--primary-light);
    --shop-header-time: var(--gray-dark);
    --shop-header-btn-bg: var(--primary);
    --shop-header-btn-color: var(--white);

    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // transition: all 0.1s ease;
}

html {
}

body {
    font-family: "Inter", sans-serif;
}

.textBold {
    font-weight: bold;
}

a {
    text-decoration: none;
}

.red {
    background-color: var(--red-2);
    color: var(--white);
    border: 1px solid var(--black);
}

.blue {
    background-color: var(--blue-dark-4);
    color: var(--white);
    border: 1px solid var(--black);
}

.green {
    background-color: var(--green-dark);
    color: var(--white);
    border: 1px solid var(--black);
}

.black {
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--black);
}

.white {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
}

.orange {
    background-color: var(--orange);
    color: var(--white);
    border: 1px solid var(--black);
}

.yellow {
    background-color: var(--yellow);
    color: var(--black);
    border: 1px solid var(--black);
}

.pink {
    background-color: var(--pink);
    color: var(--white);
    border: 1px solid var(--black);
}

.purple {
    background-color: var(--purple-2);
    color: var(--white);
    border: 1px solid var(--black);
}

.img__fluid {
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
}