@import 'normalize.css';

// Import font
// @import url();

// Color
:root {
    --black: #000;
    --black-2: #1b1b1f;
    --black-blue: #202127;
    --black-blue-light: #2e2e32;
    --black-blue-light-2: #2b2f36;
    --black-blue-light-3: #282a36;
    --black-blue-light-4: #3C4147;
    --black-blue-light-5: #2D3037;

    --white: #ffffff;
    --white-light: #F5F7FA;
    --white-light-2: #F5F7F9;
    --white-dark: #E0E0E0;
    --white-dark-2: #B9B9B9;

    --dark: #6E6E6E;

    --brown: #5a373f;

    --blue-dark-3: #0b1517;
    --blue-dark-2: #032343;
    --blue-dark: #1a4979;
    --blue-dark-4: #207bf3;
    // --blue-dark-4: #5078F2; 

    --blue: #20c0f3;
    --blue-light: #9ae7ff;
    --blue-light-2: #D7E6FB;
    --blue-white: #d1f4ff;
    --blue-white-light: #EDF2FF;

    --purple: #966fd6;
    --purple-2: #bd34fe;
    --purple-3: #51146d;

    --green-dark-2: #157347;
    --green-dark: #48bf69;
    --green: #50f07d;

    --red-dark: #bf4848;
    --red: #f32020;
    --red-2: #D8032B;

    --pink-red: #e23b3b;

    --orange-light: #f0b67f;
    --orange: #f38120;
    --orange-dark: #e57818;

    --yellow: #f3eb20;

    --pink: #ff3670;

    --gray: #d9d9d9;
    --gray-dark: #a4a4a4;
    --gray-dark-2: #696969;
    --gray-dark-3: #bdbdbd;
    --gray-light: #f0f0f0;

    --primary: var(--red-2);
    --odd-bg: var(--white);
    --odd-color: var(--black);
    --even-bg: var(--white-light);
    --even-color: var(--black);
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, var(--primary) 30%, var(--blue-dark));

    --nav-bg: var(--white);
    --nav-color: var(--black);
    --nav-resume-color: var(--white);
    --nav-btn-login-color: var(--black);
    --nav-btn-signup-bg: var(--primary);
    --nav-btn-signup-color: var(--white);

    --navbar-bg: var(--blue-light-2);
    --navbar-color: var(--black);
    --navbar-item-hover-color: var(--primary);
    --navbar-item-2-hover-color: var(--black);
    --navbar-logo-color: var(--primary);

    --border-color: var(--black-blue-light-4);
}

[data-theme='dark'] {
    --primary: var(--pink);
    --odd-bg: var(--black-2);
    --odd-color: var(--white);
    --even-bg: var(--black-blue-light-2);
    --even-color: var(--white);
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, var(--pink) 30%, var(--purple-2));


    --nav-bg: var(--blue-dark-3);
    --nav-color: var(--white);
    --nav-btn-login-color: var(--white);
    --nav-btn-signup-bg: var(--pink);
    --nav-btn-signup-color: var(--white);

    --border-color: var(--white);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // transition: all 0.1s ease;
}

html {
}

body {
    font-family: "Inter", sans-serif;
}

.textBold {
    font-weight: bold;
}

a {
    text-decoration: none;
}