.home {
    min-height: 100vh;
    color: var(--home-color);
}

.introduction {
    background-color: var(--odd-bg);
    color: var(--odd-color);
    min-height: 50vh;
    display: flex;  
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2rem;
    // padding: 4rem 0;

    .introduction__img {
        width: 100%;
    }

    .introduction__inner {
        // display: flex;  
        // align-items: center;
        // justify-content: center;
        // flex-direction: column;
    }

    .introduction__bg {
        width: 100%;
    }

    .introduction__optionsBar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
            
        .option__image {
            height: 50px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.categories {
    background-color: var(--even-bg);
    color: var(--even-color);
    
    .categories__inner {
        min-height: 20vh;
        padding: 2rem 0;

        .title {
            font-size: 1.5rem;
            // padding-bottom: 1rem;
        }

        .category {
            width: calc(100% / 7);
            padding: 1rem;
        }
        
        .category__image {
            width: 100%;
            height: 100%;
            border-radius: 100%;
        }
        
        .category__name {
            text-align: center;
            padding-top: 0.5rem;
        }
    }
}

.products {
    background-color: var(--odd-bg);
    color: var(--odd-color);
    min-height: 50vh;

    .inner {
        padding: 2rem 0;
        position: relative;
    }

    .optionsBar {
        position: absolute;
        top: -20px;
        // background-color: var(--home-options-bg);

        background-color: #182b3a;
        background-image: linear-gradient(315deg, var(--home-block-item-btn-bg-2) 0%, var(--home-block-item-btn-bg) 74%);
        display: flex;
        align-items: center;
        width: fit-content;
        padding: 0.5rem;
        border-radius: 100px;
    }
    
    .option {
        background-color: transparent;
        color: var(--home-option-color);
        font-weight: bold;
        padding: 0.25rem 1rem;
        margin: 0 0.25rem;
        border-radius: 100px;
        cursor: pointer;
    
        &:hover {
            background-color: var(--home-option-bg-active);
            color: var(--home-option-color-active);
        }
    }

    .optionActive {
        background-color: var(--home-option-bg-active);
        color: var(--home-option-color-active);
    }

    
    .block {
        // background-color: var(--even-bg);
        padding: 1rem 0;

        .block__items {
            display: flex;
            align-items: center;
            overflow-x: scroll;
            // padding-bottom: 1rem;
            scrollbar-width: thin;
        }

        .title {
            font-weight: bold;
            font-size: 1.15rem;
            padding: 0.75rem 0;
            background-color: var(--home-block-arrivals-title-bg);
            color: var(--home-block-arrivals-title-color);
            
            span {
                padding-right: 1rem;
            }
        }
        
        .title1 {
            text-align: center;
            margin-bottom: 0.5rem;
            background-color: var(--even-bg);
            border-bottom: 4px solid var(--home-block-arrivals-title-color);
        }

        .title2 {
            padding: 0.75rem 1rem;
            background-color: var(--even-bg);
            color: var(--home-block-arrivals-title-color-2);
        }
        
        .title3 {
            padding: 0.75rem 1rem;
            background-color: var(--even-bg);   
            color: var(--home-block-item-price-color);
        }
        
        .item {
            // width: 25%;
            // padding:  ;
            margin-right: 0.5rem;
            background-color: var(--home-block-item-bg);
            border-radius: 10px;
            position: relative;
            color: var(--home-block-item-color);

            .item__name {
                font-weight: bold;
                padding-top: 0.5rem;
            }

            .item__reviews {
                display: flex;
                align-items: center;
                padding-bottom: 1rem;
            }

            .item__icon {
                width: 25px;
                color: var(--home-block-star);
            }

            .item__image {
                img {
                    // border-radius: 10px;
                }
            }

            .item__prices {
                // position: absolute;
                // bottom: -15px;
                // display: flex;
                // align-items: center;
                padding: 0.5rem 0;
            }

            .item__price {
                border-radius: 10px;
                font-weight: bold;  
            }

            .item__oldPrice {
                padding-top: 0.25rem;
                font-size: 0.9rem;
                
                span {
                    padding-right: 0.25rem;
                    color: var(--home-block-item-old-price-color);
                    text-decoration: line-through;
                }
            }

            .item__newPrice {
                color: var(--home-block-item-price-color);
            }

            .item__btn {
                width: fit-content;
                padding: 0.25rem 1rem;
                border-radius: 5px;
            }

            .item__btnBuy {
                // background-color: var(--home-block-item-btn-bg);
                background-color: #182b3a;
                background-image: linear-gradient(315deg, #182b3a 0%, var(--home-block-item-btn-bg) 74%);
            }
            
            .item__link {
                color: var(--home-block-item-btn-color);
                font-weight: bold;
            }
        }
    }
}
