.shop {
    min-height: 100vh;
}

.shop__header {
    background-color: var(--shop-header-bg);
    color: var(--shop-header-color);

    .shop__header__inner {
        display: flex;
        padding: 2rem 0 1.5rem;
    }
    
    .shop__header__brand {
        width: 50%;
        background-color: transparent;
        color: var(--shop-header-brand-color);
        border-radius: 10px;
        position: relative;
        z-index: 1;
        height: 175px;
    }

    .brand__inner {
        display: flex;
        align-items: flex-start;
        padding: 1.5rem 2rem;
        height: 175px;
    }
    
    .shop__image {
        width: 125px;

        img {
            border-radius: 100%;
        }
    }
    
    .shop__info {
        padding-left: 1.5rem;
        flex-grow: 1;
    }

    .shop__name {
        font-weight: bold;
        font-size: 1.25rem;

        span {
            padding-left: 0.5rem;
            cursor: pointer;
        }
    }

    .shop__time_connect {
        color: var(--shop-header-time);
        font-size: 0.9rem;
    }

    .shop__follows {
        display: flex;
        align-items: center;
        // justify-content: center;
    }

    .btnFollow {
        background-color: var(--shop-header-btn-bg);
        // background-image: linear-gradient(120deg, var(--shop-header-btn-bg2) 0%, var(--shop-header-btn-bg) 74%);
        color: var(--shop-header-btn-color);
        padding: 0.5rem 1.25rem;
        font-weight: bold;
        font-size: 0.9rem;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 1rem;
        margin-top: 1rem;

        span {
            padding-right: 0.5rem;
        }
    }

    .shop__header__img {
        width: 100%;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        height: 175px;
        filter: blur(2px);
    }

    .shop__header__bg {
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        height: 175px;
        background-color: rgba(0, 0, 0, .25);
    }

    .shop__header__block {
        width: 25%;
        padding: 0 2rem;
        display: flex;
        justify-content: space-around;
        flex-direction: column;

        .body {
            display: flex;
            align-items: center;
            padding: 0.5rem 0;
            font-size: 0.9rem;
            // justify-content: ;
        }

        .body__icon {
            width: 30px;
        }

        .body__title {
            padding-right: 0.5rem;
        }

        .body__quantity {
            color: var(--shop-text-primary);
            font-weight: bold;
        }
    }

    .shop__header__optionsBar {
        display: flex;
        align-items: center;
        margin: 0 -0.25rem;

        .optionsBar__option {
            min-width: 225px;
            text-align: center;
            padding: 0 0.25rem;
            cursor: pointer;

            &:hover {
                color: var(--shop-optionsBar-color-active);
            }
        }

        .optionsBar__option__inner {
            padding: 0.75rem 2rem;
            border-bottom: 2px solid var(--shop-optionsBar-color-active);
        }

        .optionsBar__option__more {
            text-align: center;
            padding: 0 0.25rem;
            cursor: pointer;
            flex-grow: 1;
        
            &:hover {
                color: var(--shop-optionsBar-color-active);
            }
        }

        .optionsBar__option__dropdownToggle {
            border: none;
            background-color: transparent;
        }

        .option_active {
            color: var(--shop-optionsBar-color-active);
            border-bottom: 2px solid var(--shop-optionsBar-color-active);
        }
    }
}

.shop__body {
    background-color: var(--shop-body-bg);
    color: var(--shop-body-color);
    padding: 1rem 0;
}

.shop__body__block {
    padding: 1rem 0;
}

.shop__body__vouchers {
    padding: 1rem;
    background-color: var(--shop-body-vouchers-bg);
    display: flex;
    align-items: center;
    overflow-x: auto;

    .block {
        min-width: 350px;
        padding: 1rem;
        margin: 0 0.5rem;
        background-color: var(--shop-body-vouchers-block-bg);
        color: var(--shop-body-vouchers-block-color);
        // border: 1px solid var(--shop-body-vouchers-block-border);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .voucher {
        font-size: 0.9rem;
    }

    .voucher__type {
        font-weight: bold;
    }

    .voucher__cond {
        font-weight: bold;
        padding-bottom: 0.5rem;
    }

    .voucher__time {
        font-size: 0.8rem;
    }

    .voucher__btn {
        background-color: var(--shop-body-vouchers-block-btn-bg);
        // background-image: linear-gradient(120deg, var(--shop-body-vouchers-block-btn-bg) 0%, var(--shop-body-vouchers-block-btn-bg2) 74%);
        color: var(--shop-body-vouchers-block-btn-color);
        padding: 0.25rem 1rem;
        font-size: 0.9rem;
        border-radius: 10px;
    }
}

.shop__body__section {

    .section__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 1rem;
    }

    .section__title {}

    .section__link {
        color: var(--shop-body-section-link);
    }

    .section__content {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 -0.3125rem;
    }

    .section__col {
        width: calc(100% / 6);
        padding: 0.5rem 0.3125rem;
        box-sizing: border-box;
        flex: 0 0 auto;
    }

    .section__col__inner {
        background-color: var(--shop-body-section-bg);
        color: var(--shop-body-section-color);
    }

    .section__col__image {}

    .section__col__img {
        width: 100%;
        object-fit: cover;
        object-position: center;
        aspect-ratio: 1/1;
    }

    .section__col__content {
        padding: .5rem;
    }

    .section__col__name {
        overflow-wrap: break-word;
        white-space: normal;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        overflow: hidden;
        font-size: 0.9rem;
    }

    .section__col__specials {
        display: flex;
        align-items: center;
        font-size: 0.75rem;
        padding-top: 0.375rem;
    }

    .section__col__specials__discount {
        background-color: var(--shop-body-section-voucher-bg);
        color: var(--shop-body-section-voucher-color);
        padding: 0.125rem 0.25rem;
        margin-right: 0.25rem;
    }

    .section__col__specials__time {
        border: 1px solid var(--shop-body-section-time-border);
        padding: 0.125rem 0.25rem;
        color: var(--shop-body-section-time-color);
        margin-right: 0.25rem;
    }

    .section__col__prices {
        display: flex;
        align-items: center;
        padding: 0.25rem 0;
    }

    .section__col__prices__new {
        color: var(--shop-body-section-price-new-color);
        padding-right: 0.125rem;
    }

    .section__col__prices__old {
        color: var(--shop-body-section-price-old-color);
        text-decoration: line-through;
        font-size: 0.75rem;
        padding-right: 0.125rem;
    }

    .section__col__prices__discount {
        background-color: var(--shop-body-section-price-discount-bg);
        color: var(--shop-body-section-price-discount-color);
        font-size: 0.75rem;
        padding: 0.125rem 0.25rem;
    }

    .section__col__reviews {
        display: flex;
        align-items: center;
        font-size: 0.8rem;
    }

    .section__col__reviews__star {
        color: var(--shop-body-section-star);
    }

    .section__col__reviews__sold {
        padding-left: 0.25rem;
    }

}

.shop__body__bg {
    .shop__body__bg {
        width: 100%;
    }

    .bg__img {
        width: 100%;
        object-fit: cover;
        object-position: center;
        aspect-ratio: 4/1;
    }
}