.footer {
    background-color: var(--even-bg);
    color: var(--even-color);
    padding: 1.5rem 0;
    border-top: 1px solid var(--even-color);
}

.icon {
    width: 30px;
    font-size: 1.25rem;
}

